@model AgendaContactos.Models.Sivila

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sivila</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FriendOf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FriendOf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MyProperty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MyProperty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiverMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiverMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthdate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SivilaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
